$fontstyle: Helvetica, sans-serif;


.container {
    min-height: 100vh;
    height: 100vh;
    width: 60vw;
    margin: 0 auto;
    display: flex;
    flex-flow: column;
    justify-content: space-between;

    .header_wrapper{
        height: 15vh;
        // background-color: #bfa;
        display: flex;
        flex-flow: column;
        justify-content: flex-end;

        h1{
            text-align: center;
            font: 250% $fontstyle;
        }
        h2{
            color: #1890FF;
            text-align: right;
        }
    }
    .main_wrapper{
        min-height: 70vh;
        height: 70vh;
    }


    .footer_wrapper{
        text-align: center;
        line-height: 80px;
        height: 80px;
        // background-color: deeppink;
    }
}
